@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');


html, body {
  overflow-x: hidden;
}

.background_pattern {
  background-image: url(./Images/webp/lncbgpattern.webp), linear-gradient(to bottom, rgb(159, 38, 192), rgb(212, 119, 238), rgb(235, 167, 253));
  background-repeat:repeat;
  background-size: 200px; 
  height: 100%;
  padding-top: 100px;
}
@media only screen and (max-width: 500px) {
  .background_pattern {
    padding-top: 30px;
  }
}
/* @media only screen and (max-width: 600px) {
  .background_pattern {
    background-image: url(./Images/webp/lncbgpattern.webp), linear-gradient(to bottom, rgb(184, 73, 216), rgb(184, 73, 216) 30%,rgb(198, 110, 223), rgb(223, 151, 243) 99.9%);
  }
} */


.product_page_box {
  height: 100%;
}

.spinner {
  padding-bottom: 100vh;
}
.clickable:hover {
  cursor: pointer;
}
