@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');


html, body {
  overflow-x: hidden;
}

.background_pattern {
  background-image: linear-gradient(to bottom, rgb(159, 38, 192), rgb(212, 119, 238), rgb(235, 167, 253));
  background-repeat:repeat;
  background-size: 200px; 
  min-height: 100vh;
  margin-top: 90px;
}
@media only screen and (max-width: 500px) {
  .background_pattern {
    padding-top: 30px;
  }
}
.product_page_box {
  height: 100%;
}

.about_card {
  width: 100%;  
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);

}
.contact_card {
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
  width: 100%;
}

@media only screen and (min-width: 550px) {
  .about_card {
      width: 50%;
  }
  .contact_card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.spinner {
  padding-bottom: 100vh;
}
.clickable:hover {
  cursor: pointer;
}


.size_card {
  text-align: center;
  font-family: Pacifico, cursive;
  font-size: 2.0rem;
  padding: 3.5%;
  transition: all 1.5s;
  color: rgb(150,150,150)!important;
}
.size_card_selected {
  text-align: center;
  font-size: 2.1rem;  
  font-family: Pacifico, cursive;
  padding: 3.5%;
  color: rgb(186, 101, 219);
  text-shadow: 3px 5px 5px rgb(143, 143, 143);
  transition: all 1.5s;
}

.trifles_img {
  scale: .75;
}
@media only screen and (max-width: 500px) {
  .size_card {
    font-size: 1.3rem;
  }
  .size_card_selected {
    font-size: 1.5rem;
  }
  .trifles_img {
    scale: 1;
  } 
}


