.logo {
  scale: 1.8;
}

.clickable:hover {
  cursor: pointer;
}
.navbar {
  background-color: #9300d4;
  height: 80px;
}


.navtitle{ 
  scale: 2.5;
  margin: 4%;
  padding-left: 7.5%;
  text-shadow: 3px 3px 5px  rgba(10, 0, 10, .7);
  transition: all 1s;
}
@media only screen and (max-width: 1000px){
  .navbar {
    height: 115px;
  }
  .navtitle{
    scale: 1.7;
    padding-left: 12%;
  }
}
.navtitle:hover {
  cursor: pointer;
}
.navlinks {
  justify-content: start;
  margin-right: 3%;
}

.navlink {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 30px;
  text-align: right;
  transition: all 1s;
  color: white;
}
  
.navlink:hover {
  cursor: pointer;
  text-shadow: 3px 3px 5px  rgba(10, 0, 10, .7);
  color: #dad7d7;

}
.toggler {
  scale: 150%;
  padding-right: 20%;
}





@media only screen and (min-width: 600px) {
  .navbar {
    height: 90px;
  }
  .navlink {
    font-size: 1.5rem;
  }
  .navtitle{
    font-size: 2.9rem;
    margin-top: 1%;
  }
  .toggler {
    margin-right: 7.5%;
    margin-top: -3%;
  }
}

@media only screen and (max-width: 780px) {
.navi {
    margin-left: 0;
    margin-right: 0;
}
.navtitle {
    font-size: 1.46rem;
    margin: 7% -10% 7% 0%;
}
.logo {
  display: none;
}
.navlinks {
  margin-right: 0;
}
}